.container-full{
    width: 100%;
}

body{
    background-image: url('../../../Views/Layouts/imgs/background.png');
    background-attachment: fixed;
    background-size: 100%;
}

.img-logo{
    width: 55px;
}

.img-logo-bienvenido{
    width: 150px;
}

.bg-green{
    background-color: rgb(39, 158, 39);
}

.bg-white-opa-4{
    background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-opa-7{
    background-color: rgba(255, 255, 255, 0.7);
}

.txt-white-sh{
    color: white;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.623);
    font-weight: 500;
}

.txt-shw{
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.623);
}

a:hover{
    text-decoration: none;
}

.popupAlert{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.384);
    width: 100%;
    min-height: 100%;
}

